/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

/* Components */
/* Navigation */
/* Text Component 1: Nav Bar*/
nav {
  width: 100%;
  background-color: #1f1f1f;
  position: relative;
  height: auto;
  overflow: auto;
  border-radius: 4px;
}
/* Nav Links */
nav a {
  float: left;
  display: block;
  font-weight: bold;
  color: #0092e0;
  font-size: 15px;
  padding: 12px;
}
.social-links {
  font-size: 70px;
  padding: 5px;
}
nav a, .social-links {
  text-decoration: none;
}
/* Active Page */
a.active {
  background-color: #e6e6e6;
  color: #0757a3;
}

/* Graphical Component 1: About Articles */
.about-container {
  width: 98%;
  height: auto;
  background-color: #1f1f1f;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.about-item {
  width: 300px;
  height: 400px;
  background-color: #0092e0f6;
  border-radius: 10px;
  margin: 20px 10px;
}
.about-header {
  margin-bottom: 2px;
}
.about-item h3, .about-item p  {
  padding: 2px 6px;
}
.about-item img {
  width: 100%;
  height: auto;
}
#resume-dl {
  font-size: 24px;
}

/* Graphical Component 2: Blog Post */
.blog-post {
  background-color: #1f1f1f;
  margin: 30px;
  border: 1.5px solid #0092e0;
  border-radius: 20px;
}
.blog-post .date {
  font-size: 10px;
  text-align: left;
  opacity: .7;
}
.blog-post h2, .blog-post .date {
  padding: 4px 10px;
}
.blog-post p {
  margin: 12px;
}
.blog-post img {
  width: 100%;
  height: auto;
}
.blog-post h3, .blog-post ul {
  text-align: left;
}
.blog-post h3 {
  padding-left: 4px;
}

/* Graphical component 3: Projects Captioned Images */
.project-item {
  width: 80vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  margin: 20px 5px;
}
.project-item h2 {
  top: 20px;
  transform: translate(-50%, -50%);
}
.project-item p {
  width: auto;
  bottom: 8px;
  transform: translate(-50%, 5%);
}
.project-item h2, .project-item p {
  background: rgba(5, 5, 5, .8);
  position: absolute;
  left: 50%;
}

/* Graphical component 4: Home Portrait */
#portrait {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: auto;
  opacity: 0.5;
  border-radius: 60px;
  z-index: -1;
}
.a-home {
  font-size: 20px;
}
#a-develop {
  padding: 0px 7px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5;
}

/* Mobile Screen Adjustments */
@media screen and (max-width: 400px) {
  nav a {
    float: none;
    text-align: center;
  }
  .flex-container {
    display: block;
    width: 95%;
  }
  .project-item h2 {
    font-size: 18px;
  }
  .project-item p {
    font-size: 12px;
  }
}

/* Text Component 2: Contact Form */
input[type=text], textarea {
  background-color: #1f1f1f;
  width: 97%;
  padding: 12px;
  border: 1px solid #f5f5f5;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px;
  resize: vertical;
}
input[type=submit] {
  background-color: #0092e0;
  color: #e6e6e6;
  margin-bottom: 8px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Text Component 3: Main Page Headers */
h1 {
  font-style: italic;
  margin: 20px 0px;
  border-bottom: 2px solid #0092e0;
  font-size: 50px;
}
h2 {
  padding: 2px;
  font-size: 35px;
}
p {
  font-size: 13px;
}

/* Text Component 4: Footers */
footer {
  margin: 15px;
  padding: 10px;
  opacity: 0.7;
}
#foot-text {
  font-size: 11px;
}
#back-to-top {
  font-weight: bold;
  font-size: 15px;
}

/* General styling */
body {
  background-color: #2b2b2b;
  color: #e6e6e6;
  font-family: 'Roboto Mono', sans-serif;
  text-align: center;
  height: auto;
}